@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';


.header {
  padding: 5px 0;
  background-color: #323232;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.menu {
  margin-right: -200px;

  &__list {
    display: flex;

  }

  &__list-item+.menu__list-item {
    padding-left: 60px;
  }

  &__list-link {
    @extend %Roboto-400;
    font-size: 18px;
    color: #fff;
    padding: 0 7px 7px;
    border-bottom: 2px solid transparent;
    transition: all .5s;

    &:hover {
      color: #ffa200;
      border-color: #ffa200;
      @extend %Roboto-700;
    }
  }
}

.select-box {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 8px;
    left: -26px;
    width: 18px;
    height: 18px;
    background-image: url('../images/icons/phone.png');
    background-position: center center;
    object-fit: cover;
  }


}

.jq-selectbox {
  vertical-align: bottom;
  cursor: pointer;
}

.jq-selectbox__select {
  height: auto;
  padding: 0 31px 0 0;
  border: none;
  background-color: #323232;
  box-shadow: none;
  border-radius: 0;
  text-shadow: none;
  font-size: 18px;
  line-height: 32px;
  @extend %Roboto-300;
  color: #fff;
  background: #323232;
  outline: 0;

  &:hover {
    background: none;
  }
}

.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}

.jq-selectbox__dropdown {
  background-color: #323232;
  color: #fff;
  box-shadow: 0px 3px 4px 0px rgba(0, 1, 5, 0.92);
  border: none;
  border-radius: 0;
  width: 230px;
}

.jq-selectbox li.selected {
  background-color: #323232;
  color: #FFF;
  font-size: 18px;
  text-align: center;
}

.jq-selectbox li {
  color: #fff;
  font-size: 18px;
  text-align: center;

  &:hover {
    background-color: #323232;
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
}

.jq-selectbox__trigger {
  border-left: none;
}

.jq-selectbox {
  vertical-align: middle;
  width: 200px;
}

.jq-selectbox__select-text {
  width: 100%;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 11px;
  height: 14px;
  border: none;
  background-image: url('../images/icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
}


.top-banner {
  max-width: 100%;
  min-height: calc(100vh - 65px);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;

  &__inner {
    padding-top: 60px;
    max-width: 640px;
  }

  &__title {
    @extend %Roboto-300;
    color: #262626;
    font-size: 60px;
    padding-bottom: 40px;
  }

  &__title span {
    @extend %Roboto-500;
    color: #ffa200;
    font-size: 60px;
  }

  &__text {
    position: relative;
    @extend %Roboto-300;
    font-size: 24px;
    line-height: 1.5;
    color: #343434;
    padding-bottom: 40px;

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 210px;
      height: 4px;
      background-color: #ffa200;

    }
  }

  &__text span {
    color: #262626;
    @extend %Roboto-500;
    line-height: 1.5;
  }

  &__link {
    position: relative;
    display: block;
    margin-top: 40px;
    background-color: #2b2d2c;
    color: #dedfdf;
    @extend %Roboto-300;
    font-size: 24px;
    padding: 10px 0;
    padding-left: 25px;
    border-radius: 0 50px 50px 27px;

    &::after {
      position: absolute;
      content: '';
      top: 12px;
      right: 51px;
      width: 43px;
      height: 30px;
      background-image: url('../images/icons/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__icon {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
  }

  &__icon svg {
    width: 20px;
  }
}

.prices {
  padding: 100px 0;
  background-color: #f9f9f9;

  &__title {
    position: relative;
    @extend %Roboto-700;
    font-size: 36px;
    padding-bottom: 20px;

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 80px;
      height: 4px;
      background-color: #ffa200;

    }
  }

  &__items {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__item {
    width: 220px;
  }
  &__item-img {
    margin-bottom: 20px;
  }
  &__item-title {
    position: relative;
    @extend %Roboto-700;
    font-size: 18px;
    padding-bottom: 8px;
    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 55px;
      height: 2px;
      background-color: #ffa200;
    }
  }
  &__item-text {
    margin-top: 20px;
    @extend %Roboto-400;
    font-size: 18px;

  }
}












@import 'media';