@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';


.header {
  padding: 5px 0;
  background-color: #323232;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.menu {
  margin-right: -200px;

  &__list {
    display: flex;

  }

  &__list-item+.menu__list-item {
    padding-left: 60px;
  }

  &__list-link {
    @extend %Roboto-400;
    font-size: 18px;
    color: #fff;
    padding: 0 7px 7px;
    border-bottom: 2px solid transparent;
    transition: all .5s;

    &:hover {
      color: #ffa200;
      border-color: #ffa200;
      @extend %Roboto-700;
    }
  }
}

.select-box {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 8px;
    left: -26px;
    width: 18px;
    height: 18px;
    background-image: url('../images/icons/phone.png');
    background-position: center center;
    object-fit: cover;
  }


}

.jq-selectbox {
  vertical-align: bottom;
  cursor: pointer;
}

.jq-selectbox__select {
  height: auto;
  padding: 0 31px 0 0;
  border: none;
  background-color: #323232;
  box-shadow: none;
  border-radius: 0;
  text-shadow: none;
  font-size: 18px;
  line-height: 32px;
  @extend %Roboto-300;
  color: #fff;
  background: #323232;
  outline: 0;

  &:hover {
    background: none;
  }
}

.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}

.jq-selectbox__dropdown {
  background-color: #323232;
  color: #fff;
  box-shadow: 0px 3px 4px 0px rgba(0, 1, 5, 0.92);
  border: none;
  border-radius: 0;
  width: 230px;
}

.jq-selectbox li.selected {
  background-color: #323232;
  color: #FFF;
  font-size: 18px;
  text-align: center;
}

.jq-selectbox li {
  color: #fff;
  font-size: 18px;
  text-align: center;
  &:hover {
    background-color: #323232;
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
}
.jq-selectbox__trigger {
  border-left: none;
}

.jq-selectbox {
  vertical-align: middle;
  width: 200px;
}
.jq-selectbox__select-text {
  width: 100%;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 11px;
  height: 14px;
  border: none;
  background-image: url('../images/icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
}










@import 'media';